@model SimpleLedger.WebApplication.Models.Home.DashboardModel

<div class="row">
    <div class="col">
        <span class="float-end">Balance: @Model.Balance.ToString("C")</span>
    </div>
</div>
<div class="row">
    <div class="col">
        <div class="card">
            <div class="card-header">
                <h3>Last 5 Credits</h3>
            </div>
            <div class="card-body">
                @await Component.InvokeAsync("Ledger", new { transactions = Model.LastCredits })
            </div>
        </div>
    </div>
    <div class="col">
        <div class="card">
            <div class="card-header">
                <h3>Last 5 Debits</h3>
            </div>
            <div class="card-body">
                @await Component.InvokeAsync("Ledger", new { transactions = Model.LastDebits })
            </div>
        </div>
    </div>
</div>