@model SimpleLedger.WebApplication.Models.Reports.ReportFilterModel


<div class="row">
    <div class="col">
        @await Component.InvokeAsync("LedgerTable", new { transactions = Model.Results, showButtons = false })
    </div>
</div>

<div class="row">
    <div class="col">
        @await Component.InvokeAsync("LedgerByCategory", new { transactions = Model.Results })
    </div>
    <div class="col">
        @await Component.InvokeAsync("LedgerByPayee", new { transactions = Model.Results })
    </div>
</div>